<!-- monitorInterval="1800" 指log4j2每隔1800秒（半小时），自动监控该配置文件是否有变化，如果变化，则自动根据文件内容重新配置 -->
<configuration status="DEBUG">
<appenders>
    <!-- 控制台打印 -->
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="[${project.artifactId}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5p => %c - %m%n" />
    </Console>
    <!-- 日志文件打印，当日志内容达到指定范围后，以某种定义规则打包日志文件 -->
    <RollingFile name="RollingFile" fileName="/home/logs/${project.artifactId}.log" filePattern="/home/logs/${project.artifactId}.log.%i">
        <PatternLayout pattern="[${project.artifactId}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5p => %c - %m%n" />
        <Policies>
            <!-- 当日志大小达到50MB时，以上述filePattern定义的格式进行存档 -->
            <SizeBasedTriggeringPolicy size="50MB" />
        </Policies>
        <!-- 存档数量不超过20 -->
        <DefaultRolloverStrategy max="20" />
    </RollingFile>
</appenders>
<loggers>
    <!--<AsyncLogger name="com.glitter.demo" additivity="false" level="ERROR" includeLocation="false">-->
        <!--<appender-ref ref="Console" />-->
        <!--<appender-ref ref="RollingFile"/>-->
    <!--</AsyncLogger>-->
    <root level="DEBUG">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </root>
</loggers>
</configuration>