<configuration status="DEBUG" monitorInterval="1800">

    <properties>
        <property name="log_home">/home/logs</property>
    </properties>

    <appenders>
        <!-- 控制台打印 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[${project.artifactId}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5p => %c - %m%n" />
        </Console>

        <!-- 日志文件打印，当日志内容达到指定范围后，以某种定义规则打包日志文件 -->
        <RollingFile name="RollingFile" fileName="${log_home}/${project.artifactId}.log" filePattern="${log_home}/${project.artifactId}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[${project.artifactId}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5p => %c - %m%n" />
            <Policies>
                <!-- 当日志大小达到50MB时，以上述filePattern定义的格式进行存档 -->
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <!-- 存档数量不超过20 -->
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </appenders>

    <loggers>
        <AsyncLogger name="com.glitter.demo" additivity="false" level="INFO" includeLocation="false">
            <appender-ref ref="Console" />
            <appender-ref ref="RollingFile"/>
        </AsyncLogger>

        <root level="DEBUG">
            <appender-ref ref="Console" />
            <appender-ref ref="RollingFile" />
        </root>
    </loggers>

</configuration>